@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Amirreza Hosseini</h1>
    <td><a asp-action="GetBlogs" asp-controller="Blog"  class="btn btn-primary">Blogs</a></td>
    <td><a asp-action="Createblog" asp-controller="Blog"  class="btn btn-primary">Create Blog</a></td>
    <td><a asp-action="login" asp-controller="user"  class="btn btn-Secondary">Login</a></td>

</div>
